@mixin subt {
    font-family: $fam-font-subt;
    font-size: 55px;
    line-height: 70px;
    letter-spacing: 10px;
}
@mixin sombra{
    border:solid 0px $bg-primary;
    box-shadow: -15px -6px 0px -5px $shadow2;
    -webkit-box-shadow: -15px -6px 0px -5px $shadow2;
    -moz-box-shadow: -15px -6px 0px -5px $shadow2;
}