/*@import 'variables.scss';*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
body header {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0px 20px;
}
body header h1 {
  font-size: 1.4rem;
  font-weight: 700;
}
body header nav ul {
  display: flex;
  flex-direction: row;
}
body header nav li {
  list-style: none;
  font-size: 0.8rem;
  margin: 20px 20px 0px 20px;
}
body main section {
  display: flex;
}
body main section button {
  border-radius: 5px;
  width: 80px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #03faee;
}
body main section img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body main .blq-central {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body main .blq-central .central {
  display: flex;
  padding: 0px 20px 0px 20px;
  flex-direction: column;
  padding-right: 30px;
}
body main .blq-central .central h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 10px;
  margin-bottom: 50px;
  position: relative;
  z-index: 9;
}
body main .blq-central .central p {
  color: #8b8b8b;
  font-size: 18px;
  padding-right: 60px;
}
body main .blq-central .central .squa {
  width: 325px;
  height: 80px;
  border: solid 0px #03faee;
  background-color: rgba(3, 250, 238, 0.65);
  padding-left: 3px;
  position: relative;
  z-index: 8;
  top: 48px;
  left: 3px;
}
body main .blq-tarj {
  justify-content: space-between;
  position: relative;
  top: -5px;
}
body main .blq-tarj h2 {
  position: relative;
  display: flex;
  font-size: 18px;
  border: solid 2px black;
  border-radius: 50%;
  box-shadow: -4px 0px 0px 0px rgba(3, 250, 238, 0.65);
  -webkit-box-shadow: -4px 0px 0px 0px rgba(3, 250, 238, 0.65);
  -moz-box-shadow: -4px 0px 0px 0px rgba(3, 250, 238, 0.65);
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  top: 11vh;
  left: 10px;
  margin-bottom: 10px;
  z-index: 999;
}
body main .blq-tarj h3 {
  position: relative;
  top: 10vh;
  font-weight: 700;
  padding: 10px 20px 0px 20px;
  z-index: 99;
  border: solid 0px #03faee;
  box-shadow: -15px -6px 0px -5px rgba(3, 250, 238, 0.65);
}
body main .blq-tarj p {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #f8f8f8;
  padding: 0px 20px;
  top: 20px;
  height: 30vh;
  width: 30vw;
  z-index: 9;
}
body main .blq-tarj .square {
  width: 5px;
  height: 15px;
  border: solid 0px #03faee;
  background-color: rgba(3, 250, 238, 0.65);
  padding-left: 3px;
  position: relative;
  z-index: 50;
  top: 115px;
  left: 20px;
}
body footer {
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 10vh;
  font-size: 1.5rem;
}
body footer .pie a {
  display: flex;
  text-decoration: none;
  color: black;
  padding-left: 30px;
}
body footer .pie i {
  display: flex;
  border: solid 0px black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: -4px 0px 0px 0px rgba(3, 250, 238, 0.65);
  align-items: center;
  justify-content: center;
}
body footer .pie {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */